<div class="back">
  <div class="container my-5 d-flex justify-content-center">
    <div class="row" style="width: 400px">
      <div class="card p-4">
        <form #loginForm="ngForm">
          <h3 class="mb-4" style="color: #1A237E">Login</h3>

          <div class="mb-3">
            <label for="useremail" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="useremail" [(ngModel)]="loginDTO.email" required>
          </div>

          <div class="mb-3">
            <label for="userpassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="userpassword"
              [(ngModel)]="loginDTO.password" required>
          </div>

          <div class="mb-3 text-end">
            <a routerLink="/recovery" class="text-decoration-none" style="color: #ff6f6c;">Forgot Password?</a>
          </div>

          <button type="submit" class="btn btn-primary w-100" style="background-color: #ff6f6c; border: none;"
            (click)="submitForm()">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
          </button>
        </form>

      </div>
    </div>
  </div>
</div>

<p>log-in works!</p>