<aside class="sidebar">
    <div class="manu_list">
        <ul>
            <li><a routerLink="./admin-deshbord"><i class="bi bi-house-add"></i>Deshboard</a></li>  
            <li><a routerLink="./account-create"><i class="bi bi-arrow-right-square-fill"></i>Account Create</a></li> 
            <li><a routerLink="/admin_card"><i class="bi bi-wallet2"></i>Credit Cards</a></li>  
            <li><a [routerLink]="['/admin/tour-package']"><i class="bi bi-box-seam"></i>Add Tour Package</a></li>  
            <li><a [routerLink]="['/admin/hotel']"><i class="bi bi-building"></i>Add Hotel</a></li>  
            <li><a [routerLink]="['/admin/transport']"><i class="bi bi-truck-front-fill"></i>Add Transportation</a></li>
            <li><a [routerLink]="['/admin/itinerary']"><i class="bi bi-journal-bookmark-fill"></i>Add Tinerary</a></li>  
            <li><a [routerLink]="['/admin/tour-guide']"> <i class="bi bi-person-badge-fill"></i>Add Tour Guide</a></li> 
            <li><a [routerLink]="['/admin/customer-history']"> Customer History For Transport</a></li>    
        </ul>
    </div>
</aside>
